[submodule "01-Projects/block-work"]
	path = 01-Projects/block-work
	url = https://github.com/AbhiArya20/block-work.git
[submodule "01-Projects/chat"]
	path = 01-Projects/chat
	url = https://github.com/AbhiArya20/chat.git
[submodule "01-Projects/coderoom"]
	path = 01-Projects/coderoom
	url = https://github.com/AbhiArya20/coderoom.git
[submodule "01-Projects/create-app"]
	path = 01-Projects/create-app
	url = https://github.com/AbhiArya20/create-app.git
[submodule "01-Projects/deep-learn"]
	path = 01-Projects/deep-learn
	url = https://github.com/AbhiArya20/deep-learn.git
[submodule "01-Projects/docs"]
	path = 01-Projects/docs
	url = https://github.com/AbhiArya20/docs.git
[submodule "01-Projects/edudoor"]
	path = 01-Projects/edudoor
	url = https://github.com/AbhiArya20/edudoor.git
[submodule "01-Projects/jainsons"]
	path = 01-Projects/jainsons
	url = https://github.com/AbhiArya20/jainsons.git
[submodule "01-Projects/meeting-room"]
	path = 01-Projects/meeting-room
	url = https://github.com/AbhiArya20/meeting-room.git
[submodule "01-Projects/pair-programming"]
	path = 01-Projects/pair-programming
	url = https://github.com/AbhiArya20/pair-programming.git
[submodule "01-Projects/phodcast"]
	path = 01-Projects/phodcast
	url = https://github.com/AbhiArya20/phodcast.git
[submodule "01-Projects/portfolio"]
	path = 01-Projects/portfolio
	url = https://github.com/AbhiArya20/portfolio.git
[submodule "01-Projects/whiteboard"]
	path = 01-Projects/whiteboard
	url = https://github.com/AbhiArya20/whiteboard.git

[submodule "02-Learnings/learnings"]
	path = 02-Learnings/learnings
	url = https://github.com/AbhiArya20/learnings.git